@CHARSET "UTF-8";
body{
	margin:0;
}
a,a:visited{
	/*text-decoration:none;*/
	color:blue;
}
.required{
	color:red;
}
p,li{
	line-height:23px;
}
.var{
	font-style:italic;
	color:green;
}
.tag{
	color:#0000FF;
}
.tagAttr{
	color:green;
}
.tagValue{
	color:#7B007B;
}
.glossary{
	font-weight:bold;
}
.code-java{
	color:#666666;
	border:1px dashed #cccccc;
	padding:11px 0px 11px 11px;
}
.code-xml{
	color:#0000FF;
	border:1px dashed #cccccc;
	padding:11px 0px 11px 11px;
}

.pageHeader{
	font-weight:bold;
	padding:3px 0px 5px 5px;
}
.mainTitle{
	color:blue;
}
.pageBody{
	margin-top:17px;
}
.bodyMenu{
	display:inline-block;
	width:17%;
	margin-left:13px;
	border:1px solid #CCCCCC;
}
.menu{
}
.menu li{
	list-style:none;
	margin:3px 0px 5px 0px;
	font-weight:bold;
}
.menu .current{
	font-weight:bolder;
}
.bodyContent{
	display:inline-block;
	width:77%;
	margin-left:17px;
	vertical-align:top;
}
.bodyContent .title{
	font-weight:bolder;
	font-size:large;
	background-color:#EEEEEE;
	color:#000000;
	padding:3px 0px 3px 7px;
}
.bodyContent .content{
	padding-left:7px;
}
.pageFooter{
	margin-top:11px;
}
.